<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="/css/styles.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<div th:switch="${buildings}">
		<h2 th:case="null">No buildings yet!</h2>
		<div th:case="*">
			<h2>Buildings</h2>
			<table>
				<thead>
					<tr>
						<th>buildingId</th>
						<th>ownershipMillis</th>
						<th>flatsTotal</th>
						<th>floorsTotal</th>
						<th>postalCode</th>
						<th>addressName</th>
						<th>addressNo</th>
						<th>builtDate</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="building : ${buildings}">
						<td th:text="${building.buildingId}"></td>
						<td th:text="${building.ownershipMillis}"></td>
						<td th:text="${building.flatsTotal}"></td>
						<td th:text="${building.floorsTotal}"></td>
						<td th:text="${building.postalCode}"></td>
						<td th:text="${building.addressName}"></td>
						<td th:text="${building.addressNo}"></td>
						<td th:text="${building.builtDate}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>