<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container my-2" align="center">

        <h3>Λίστα κτηρίων</h3>
        <table style="width:80%" border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th style="text-align: center;">Ταυτότητα κτηρίου</th>
                    <th style="text-align: center;">Οδός</th>
                    <th style="text-align: center;">Αριθμός</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="building:${buildings}">
                    <td style="text-align: center;" th:text="${building.buildingId}"></td>
                    <td style="text-align: center;" th:text="${building.addressName}"></td>
                    <td style="text-align: center;" th:text="${building.addressNo}"></td>
              </tr>
            </tbody>
        </table>
    </div>
</body>

</html>